airflow/logs/*
lakeFs/data/*
minio/data/*
nifi/nifi-current/*
redis/data/*
spark/data/*
**/__pycache__/
**/.DS_Store
flink/project/untitled/*
dspark/spark-*
dspark/*.jar
postgresDB/.DS_Store
flink/project/.DS_Store
flink/.DS_Store
clickhouse/data
clickhouse/logs
hive/metastore
metabase/db
kafka/data
prometheus/volume
grafana/data